@font-face
{
    font-family: "Comic Sans";
    src: url("./assets/fonts/Comic-Sans.ttf");
}

@font-face
{
    font-family: "Papyrus";
    src: url("./assets/fonts/Papyrus.ttf");
}

html
{
    background-image: url(assets/space.png);
    background-repeat: repeat;
    background-size: 200px;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

h3
{
    font-family: "Papyrus";
    font-size: 28px;
    letter-spacing: 3px;
    display: inline;
}

hr
{
    background-image: url(assets/logo.png);
    background-repeat: repeat-x;
    background-size: 20px;
    height: 20px;
    border: none;
}

p
{
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    background-color: #000;
    font-size: 18px;
}

div 
{
    margin: 0 auto;
    max-width: 800px;
}

.logo
{
    text-align: center;
    margin: 20px auto;
    width: 500px;
}

@media only screen and (max-width: 550px)
{
    .logo
    {
        width: calc(100% - 20px);
    }
}

a
{
    font-family: "Comic Sans";
    color: #38d1ff;
    font-size: 16px;
}

a:hover
{
    font-family: "Papyrus";
    color: red;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.icon
{
    display: inline;
    height: 50px;
    margin: 40px 20px 0 20px;
}

ul
{
    list-style-type: disc;
    list-style-image: url(./assets/chrome_logo.png);
    list-style-position: inside;
}
